@charset "utf-8";
body h1 {
	color: #FF6E00;
	font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	font-size: 40px;
}
.key {
	color: #FCF2F2;
	background-color: #0005FF;
	font-size: x-large;
}
body p img {
	border: 10px dotted #02FF00;
}
body {
	background-image: url(sora.jpg);
	background-size: 126% 81%;
	background-repeat: repeat-x;
}
